body {
	font-family: sans-serif;
	background-color: #F0F0F0;
	font-size: 13px;
	line-height: 1.45;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.5em;
}

nav {
	margin: 0;
	padding: 0;
	position: fixed;
	top: 0;
	overflow: hidden;
	z-index: 100;
}

a {
	color: rgb(50, 50, 170);
	text-decoration: underline;
}

a:visited {
	color: rgb(50, 50, 170);
}

a:hover {
	text-decoration: underline;
	text-decoration-style: dashed;
}

/* don't style links which are just in-page navigation links */
li > a {
	text-decoration: none;
}

/* layouting common to all content types */
div.content {
	padding: 0 5vw 0 5vw;
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;
	/* once content is wrapped, center-align it */
	justify-content: center;
}

h1, h2, p {
	text-align: justify;
	/* roundabout-implementation of min(100%, 40em) */
	max-width: 40em;
	width: 100%;
}

div.content ul {
	list-style-type: none;
	padding-left: 1em;
	text-indent: -1em;
}

div.content li:before {
	content: "⤖ ";
}

div.content li {
	text-align: initial;
	padding: 0.3em;
}

div.content ul.linklist {
	list-style-type: disc;
	padding: 0;
	text-indent: 0;
	line-height: 0.9em;
	margin-left: 20px;
}

div.content ul.linklist li:before {
	content: "";
}

div.content > * {
	/* shrink down to 20em first before wrapping (TODO replace with pixel/screen measurement?) */
	flex: 2 1 20em;
	min-width: 20em;
	max-width: 40em;
	margin: 8px 25px;
	/* keep aspect ratio of flexed images */
	object-fit: scale-down;
	width: 100%;
	/* inline (link) elements fill entire width, so center (image) content in case they're not as wide */
	text-align: center;
}

/* the sibling adjacent to the mixed div (can be an <img> or <a> or ...) */
div.content > * + * {
	/* only apply margin to second content child so that all text-content stays left-aligned */
/*	padding: 0 50px;
	/* by default the flex-grow factor of 1 means the image will be secondary to the text (flex-grow 2) */
	flex-grow: 1;
	max-width: fit-content;
	max-height: 80vh;
}

img {
	max-height: 100%;
	max-width: 100%;
}

div.content > .prominent {
	/* roundabout-implementation of min(100%, 30em) */
	max-width: fit-content;
	width: calc(100% - 30em);
	flex-grow: 10;
}

@media screen and (min-width: 1000px) {
	div.overlay {
		position: relative;
	}

	div.overlay > .background {
			position: relative;
	}

	div.overlay > .caption {
		display: block;
		position: absolute;
		background-color: rgba(100, 100, 102, 0.7);
		z-index: 10;
		padding: 30px;
		color: white;
		bottom: 5px;
		right: 0;
	}
}

.caption a {
	color: rgb(220, 220, 255);
}

.img_overlay {
	width: 100%;
}

.fp-controlArrow.fp-prev, .fp-controlArrow.fp-next {
	border-top-width: 40px;
	border-bottom-width: 40px;
	border-left-color: #333a;
	border-right-color: #333a;
}

.fp-controlArrow.fp-prev {
	left: 2vw;
}

.fp-controlArrow.fp-next {
	right: 2vw;
}

.fp-slidesNav.fp-bottom {
    bottom: 50px;
    text-align: center;
}

nav > ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	top: 0;
}

nav li {
	float: left;
	background-color: #dddddd;
}

nav a {
	padding: 8px;
	display: block;
}

nav a:visited, nav a:link {
	color: black;
	text-decoration: none;
}

li.active, nav a:hover {
	background-color: white;
	color: black;
}

li.external {
	color: black;
	font-style: italic;
}

#menuicon {
	display: none;
}

@media screen and (max-width: 600px) {
	.hide-on-small-screens {
		display: none;
	}

	#menuicon {
		display: block;
		position: fixed;
		top: 15px;
		right: 15px;
		width: 30px;
		height: 30px;
		padding: 7px;
		background: #555;
		fill: #fff;
	}

	nav ul {
		display: none;
		position: fixed;
		top: 59px;
		right: 0px;
	}

	#menu > li {
		float: none;
	}

	nav:hover > ul {
		display: block;
	}

	div.content > *, div.content > .prominent {
		max-width: 60vw;
	}
}

.octo, a.github {
	text-decoration: none;
	white-space: nowrap;
	background-image: url(https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/github.svg);
	background-position: left;
	background-repeat: no-repeat;
	background-size: 0.9em;
	padding-left: 1.2em;
}

a.github {
	float: right;
}

a.github::after {
	content: ' view the source code';
}

form {
	text-align: initial;
}

textarea, input[type=text], input[type=email] {
	margin: 0 1em 1em 0;
	width: 15em;
}

textarea {
	width: 100%;
	max-width: 80ch;
}

.footer {
	font-size: 90%;
}