body {
	font-family: sans-serif;
	background-color: #F0F0F0;
	font-size: 14px;
	line-height: 1.4;
}

nav {
	margin: 0;
  padding: 0;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  overflow: hidden;
  z-index: 100;
}

/* layouting common to all three content types */
div.content {
	/* centering would also be an option but not sure how it would work with fullPage.js */
	margin: auto;
    width: 80%;
    padding: 50px;
}

div.mixed {
	display: flex;
	flex-direction: row;
	align-items: center;
/*	flex-wrap: wrap; */	
}

div.mixed img {
	margin: 30px;
	max-width: 60%;
}

/*works only for the about you, cannot be used in the cartography part
probably because of the slider*/
.right_img {
	position: absolute;
  right: 50px;
}

div.overlay {
	position: relative;
}

div.overlay > .background {
    position: relative;
}

div.overlay > .caption {
    position: absolute;
    background-color: rgba(189, 195, 199, 0.5);
    z-index: 10;
    padding: 30px;
    color: white;
    bottom: 5px;
    right: 0;
}

.mixed_overlay {
    display: flex;
    flex-direction: row;
}

.mixed_overlay img {
    max-width: 100%;
    max-height: 100%;
}

.div_right {
    width: 50%;
}

.div_left {
    width: 50%;
}

.img_overlay {
    width: 100%;
}

p {
	text-align: justify;
	min-width: 20em;
	max-width: 40em;
}

a:link, a:hover {
	color: rgb(0, 0, 220);
	text-decoration: underline;
}

a:visited {
	color: rgb(85, 26, 139);
	text-decoration: underline;
}

a.github {
/*	background: url(images/github.png) no-repeat bottom; */
}

.fp-controlArrow.fp-prev {
    left: 105px;
}  

.fp-controlArrow.fp-next {
    right: 105px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  top: 0;
}

li {
  float: left;
  background-color: #dddddd;
}

li a {
  padding: 8px;
  display: block;
}

li a:visited, a:link {
  color: black;
  text-decoration: none;
}

li.active, li a:hover {
  background-color: white;
  color: black;
}

/*to do: dropdown menu*/
@media screen and (max-width: 600px) {
  ul li {float: none;}
}


