body {
	font-family: sans-serif;
	background-color: #F0F0F0;
	font-size: 14px;
	line-height: 1.4;
}

nav {
	margin: 0;
	padding: 0;
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 0;
	overflow: hidden;
	z-index: 100;
}

/* layouting common to all content types */
div.content {
	/* centering would also be an option but not sure how it would work with fullPage.js */
	margin: auto;
	width: 80%;
	padding: 50px;
	padding-top: 0px;
}

div.mixed {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;
	/* once content is wrapped, center-align it */
	justify-content: center;
}

p, div li {
	text-align: justify;
	min-width: 20em;
	max-width: 40em;
	width: 100%;
}

div ul {
	list-style-type: none;
	padding: 1em;
	text-indent: -1em;
}

div li:before {
	content: "- ";
}

div li {
	max-width: 30em;
	padding: 0.3em;
}

div.mixed > * {
	margin: 30px;
	/* shrink down to 20em first before wrapping (TODO replace with pixel/screen measurement?) */
	flex: 3 1 20em;
	min-width: 20em;
	max-width: 40em;
	width: 100%;
}

img {
	max-height: 100%;
	max-width: 100%;
}

/* the sibling adjacent to the mixed div (can be an <img> or <a> or ...) */
div.mixed > * + * {
	/* by default the flex-grow factor of 1 means the image will be secondary to the text (flex-grow 3) */
	flex-grow: 1;
	max-width: none;
}

div.mixed > .prominent {
	min-width: 30em;
	flex-grow: 10;
}

/*works only for the about you, cannot be used in the cartography part
probably because of the slider*/
.right_img {
	position: absolute;
	right: 50px;
}

div.overlay {
	position: relative;
}

div.overlay > .background {
		position: relative;
}

div.overlay > .caption {
	position: absolute;
	background-color: rgba(189, 195, 199, 0.5);
	z-index: 10;
	padding: 30px;
	color: white;
	bottom: 5px;
	right: 0;
}

.img_overlay {
		width: 100%;
}

a:link, a:hover {
	color: rgb(0, 0, 220);
	text-decoration: underline;
}

a:visited {
	color: rgb(85, 26, 139);
	text-decoration: underline;
}

a.github {
/*	background: url(images/github.png) no-repeat bottom; */
}

.fp-controlArrow.fp-prev {
		left: 105px;
}  

.fp-controlArrow.fp-next {
		right: 105px;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	top: 0;
}

nav li {
	float: left;
	background-color: #dddddd;
}

nav a {
	padding: 8px;
	display: block;
}

nav a:visited, nav a:link {
	color: black;
	text-decoration: none;
}

li.active, li.external, nav a:hover {
	background-color: white;
	color: black;
}

/*to do: dropdown menu*/
@media screen and (max-width: 600px) {
	ul li {float: none;}
}

img.github, a.github > img {
	content: url(https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/github.svg);
	height: 0.9em;
	width: 0.9em;
}

a.github::after {
	content: ' view the source code';
}